/docs/Planilhas Edgar - cancha/Agosto2013.xlsx
/docs/Planilhas Edgar - cancha/Aluguel de Material.docx
/docs/Planilhas Edgar - cancha/CachoeiraXLitraço.xls
/docs/Planilhas Edgar - cancha/Contrato de Locação de espaço publicitário.docx
/docs/Planilhas Edgar - cancha/Controle1.xlsx
/docs/Planilhas Edgar - cancha/Controle2014.xlsx
/docs/Planilhas Edgar - cancha/Dezembro2013.xlsx
/docs/Planilhas Edgar - cancha/Fevereiro-2014.xls
/docs/Planilhas Edgar - cancha/Janeiro-2014.xls
/docs/Planilhas Edgar - cancha/Janeiro2013.xlsx
/docs/Planilhas Edgar - cancha/Julho2013.xlsx
/docs/Planilhas Edgar - cancha/Novembro2013.xlsx
/docs/Planilhas Edgar - cancha/OsincriveisXSoelite.xls
/docs/Planilhas Edgar - cancha/Outubro2013.xlsx
/docs/Planilhas Edgar - cancha/Perfuração Métodos.docx
/docs/Planilhas Edgar - cancha/Planilha de Custo.xls
/docs/Planilhas Edgar - cancha/Poços de Petróleo.docx
/docs/Planilhas Edgar - cancha/Preços.xlsx
/docs/Planilhas Edgar - cancha/Setembro2013.xlsx
/docs/Planilhas Edgar - cancha/Tabela de Preços 2005.doc
/docs/Planilhas Edgar - cancha/Tabela de preços final.xls
/docs/Planilhas Edgar - cancha/Tabela de preços.xls
/docs/Planilhas Edgar - cancha/teste.xlsx
/docs/prioridades.txt
/.gitignore
__pycache__
*.*~
*.pyc
.idea
/.venv