Agosto2013.xlsx
Aluguel de Material.docx
CachoeiraXLitraço.xls
Contrato de Locação de espaço publicitário.docx
Controle1.xlsx
Controle2014.xlsx
Dezembro2013.xlsx
Fevereiro-2014.xls
Janeiro-2014.xls
Janeiro2013.xlsx
Julho2013.xlsx
Novembro2013.xlsx
OsincriveisXSoelite.xls
Outubro2013.xlsx
Perfuração Métodos.docx
Planilha de Custo.xls
Poços de Petróleo.docx
Preços.xlsx
Setembro2013.xlsx
Tabela de Preços 2005.doc
Tabela de preços final.xls
Tabela de preços.xls
teste.xlsx
prioridades.txt
02-fusion-opl.zip
.gitignore
__pycache__
*.*~
*.pyc
.idea
.venv