{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="us">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        {% bootstrap_css %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Product</h1>
            {% bootstrap_messages %}
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td scope="rol">{{ product.id }}</td>
                            <td scope="rol"><a href="#modal{{product.id}}" data-toggle="modal">{{ product.name }}</a></td>
                            <td scope="rol">{{ product.price }}</td>
                            <td scope="rol">{{ product.image }}</td>
                        </tr>
                        <div class="modal fade bd-exemple-modal-lg show" id="modal{{product.id}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="dynamic-content">
                                        <img src="{{product.image.url}}" class="img-fluid" alt="{{product.name}}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% bootstrap_javascript jquery='full' %}
    </body>
</html>